<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.edu.springboot.domain.lawyer.LawyerMapper">

    <insert id="insertLawyer" parameterType="com.edu.springboot.domain.lawyer.vo.LawyerVO" useGeneratedKeys="true" keyProperty="lawyerId" keyColumn="LAWYER_ID">
        INSERT INTO TB_LAWYER (LAWYER_ID, MEMBER_ID, LICENSE_NO, SPECIALTY, OFFICE_NAME, APPROVE_STATUS)
        VALUES (SEQ_LAWYER.NEXTVAL, #{memberId}, #{licenseNo}, #{specialty}, #{officeName}, 'PENDING')
    </insert>

    <select id="findPendingLawyers" resultType="com.edu.springboot.domain.lawyer.vo.LawyerVO">
        SELECT * FROM TB_LAWYER WHERE APPROVE_STATUS = 'PENDING'
    </select>

    <update id="updateApproveStatus" parameterType="com.edu.springboot.domain.lawyer.vo.LawyerVO">
        UPDATE TB_LAWYER
        SET APPROVE_STATUS = #{approveStatus}
        WHERE LAWYER_ID = #{lawyerId}
    </update>

</mapper>