<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.edu.springboot.domain.notification.NotificationMapper">

    <select id="findByMemberId" resultType="com.edu.springboot.domain.notification.vo.NotificationVO">
        SELECT * FROM TB_NOTIFICATION 
        WHERE MEMBER_ID = #{memberId} 
        ORDER BY SENT_AT DESC
    </select>

    <insert id="insertNotification" parameterType="com.edu.springboot.domain.notification.vo.NotificationVO">
        INSERT INTO TB_NOTIFICATION (NOTIFY_ID, MEMBER_ID, NOTIFY_TYPE, TITLE, CONTENT, REF_TYPE, REF_ID, CHANNEL)
        VALUES (SEQ_NOTIFY.NEXTVAL, #{memberId}, #{notifyType}, #{title}, #{content}, #{refType}, #{refId}, #{channel})
    </insert>

    <update id="updateReadStatus" parameterType="Long">
        UPDATE TB_NOTIFICATION 
        SET READ_YN = 'Y', READ_AT = SYSDATE 
        WHERE NOTIFY_ID = #{notifyId}
    </update>

    <select id="findSettingByMemberId" resultType="com.edu.springboot.domain.notification.vo.NotifySettingVO">
        SELECT * FROM TB_NOTIFY_SETTING WHERE MEMBER_ID = #{memberId}
    </select>

    <update id="updateNotifySetting" parameterType="com.edu.springboot.domain.notification.vo.NotifySettingVO">
        UPDATE TB_NOTIFY_SETTING 
        SET INAPP_YN = #{inappYn}, EMAIL_YN = #{emailYn}, SMS_YN = #{smsYn}, UPDATED_AT = SYSDATE
        WHERE MEMBER_ID = #{memberId}
    </update>

</mapper>