<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.edu.springboot.domain.question.QuestionMapper">

    <insert id="insertQuestion" parameterType="com.edu.springboot.domain.question.vo.QuestionVO">
        INSERT INTO TB_QUESTION (QUESTION_ID, MEMBER_ID, CASE_ID, TITLE, CONTENT, CASE_TYPE, STATUS)
        VALUES (SEQ_QUESTION.NEXTVAL, #{memberId}, #{caseId}, #{title}, #{content}, #{caseType}, 'OPEN')
    </insert>

    <select id="findAllQuestions" resultType="com.edu.springboot.domain.question.vo.QuestionVO">
        SELECT * FROM TB_QUESTION 
        <where>
            <if test="caseType != null and caseType != ''">
                CASE_TYPE = #{caseType}
            </if>
        </where>
        ORDER BY CREATED_AT DESC
    </select>

    <select id="findQuestionById" resultType="com.edu.springboot.domain.question.vo.QuestionVO">
        SELECT * FROM TB_QUESTION WHERE QUESTION_ID = #{questionId}
    </select>

</mapper>